= image_tag 'Rectangle.png', class:'img_login'

= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .field
    = f.label :email, class:'label_sn_email'
    %br/
    = f.email_field :email, autofocus: true, autocomplete: "email", class:'box_sn_email'
    %hr.hr_sn_1/
  .field
    = f.label :password, class:'label_sn_password'
    %br/
    = f.password_field :password, autocomplete: "current-password", class:'box_sn_password'
    %hr.hr_sn_2/
  - if devise_mapping.rememberable?
    .field
      = f.check_box :remember_me, class:'cb_rem'
      = f.label :remember_me, class:'label_sn_rem'
  .actions
    = f.submit "LOGIN", class:'btn_login'
= render "devise/shared/links"
